# Python basura
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# PyInstaller (No subir los .exe, se generan localmente)
build/
dist/
*.spec

# Datos sensibles y Logs (¡CRÍTICO!)
monitor_config.json
monitor_config.json.tmp
activity.log
secret.key
.sql_checkpoint
.sql_checkpoint.tmp

# Inno Setup basura
Output/